/*Сброс и нормализация стилей*/
*, *:before, *:after {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    vertical-align: baseline;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    line-height: 150%;
    list-style-type: none;
    text-decoration: none;
    color: #000;
    position: relative;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

img {
    display: block;
}

a, button {
    cursor: pointer;
    display: inline-block;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

a:hover, a:active  {
    text-decoration: underline;
}

/*Переменные*/
:root {
    /*Типографика*/
    --f-b: 30px;
    --f-n: 19.5px;
    --f-s: 15.5px;

    /*Цвета*/
    --bg-main: #f2f2f2;
    --bg-btn: #888888;
    --bg-blocked: #e1e1e1;

    --c-f-1: #ffffff;
    --c-f-2: #888888;

    /*Сетка*/
    --widthContent: 1100px;

    /*Отступы*/

}


/*Универсальные классы*/
.container {
    width: 90% !important;
    margin: 40px auto;
}