/*Сброс и нормализация стилей*/
*, *:before, *:after {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    vertical-align: baseline;
    font-family: Arial;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    line-height: 150%;
    list-style-type: none;
    text-decoration: none;
    color: #000;
    position: relative;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

img {
    display: block;
}

a, button {
    cursor: pointer;
    display: inline-block;
}

a:hover, a:active  {
    text-decoration: underline;
}

/*Переменные*/
:root {
    /*Типографика*/
    --f-b: 30px;
    --f-n: 19.5px;
    --f-s: 15.5px;
    --t-i: 12px;

    /*Цвета*/
    --bg-main: #f2f2f2;
    --bg-btn: #888888;
    --bg-blocked: #e1e1e1;

    --c-f-1: #ffffff;
    --c-f-2: #888888;

    /*Сетка*/
    --widthContent: 1100px;
    --cells-h: 35px;

    /*Отступы*/
    --g-g: 3px;

}


/*Универсальные классы*/
.container {
    width: 1024px !important;
    margin: 0 auto;
    background: var(--bg-main);
    display: grid;
    grid-gap: 3px;
}

h2 {
    color: var(--c-f-2);
    font-size: var(--f-b);
    line-height: 125%;
    font-weight: bold;
}

h3 {
    color: var(--c-f-2);
    font-size: var(--f-n);
    line-height: 200%;
}

p {
    color: var(--c-f-2);
    font-size: var(--f-n);
    line-height: 150%;
}

button {
    background: var(--bg-btn);
    font-size: var(--f-n);
    color: var(--c-f-1);
    border-radius: 3px;
    font-weight: bold;
}

select, option {
    text-indent: var(--t-i);
    font-size: var(--f-s);
    color: var(--c-f-2);
}

h2, h3, p, button, input {
    height: var(--cells-h);
}

input {
    color: var(--c-f-2);
    font-size: var(--f-n);
    text-indent: var(--t-i);
}

textarea {
    resize: none;
}

.blocked {
    background-color: var(--bg-blocked);
    color: var(--c-f-2);
}

/*header*/

.header {
    display: grid;
    grid-gap: var(--g-g);
}

.header_top {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    grid-template-rows: var(--cells-h) var(--cells-h);
    grid-gap: var(--g-g);
}

.header_nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: var(--g-g);
}

.header_bottom {
    display: grid;
    align-items: center;
    height: var(--cells-h);
}

.header_bottom_span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--c-f-2);
}

.header_top > div + .header_top_p {
    text-align: center;
}

/*main*/

.main {
    display: grid;
    grid-gap: var(--g-g);
    min-height: calc(
            ( var(--cells-h) * 11 ) +
            ( var(--g-g) * 10 )
    );
    align-content: flex-start;
}

.redactor .main_h3,
.redactor .main_p {
    width: calc( 100% / 3 );
}

.main_p + .main_h3 {
    margin-top: calc( var(--cells-h) + var(--g-g) * 2 );
}

.main h3,
.main p,
.main button {
    text-indent: var(--t-i);
}

.main p {
    background-color: var(--bg-blocked);
    width: 50%;
    line-height: 200%;
}

.main_list {
    display: grid;
    grid-gap: var(--g-g);
}

.main_list_item {
    display: grid;
    grid-gap: var(--g-g);
    grid-template-columns: 2fr 2fr 1fr 1fr;
}

.main_input {
    width: 50%;
}

.redactor .main_input {
    width: calc( 100% / 3 );
}

.main-mod_1 {
    grid-template-columns: 1fr;
}

.main-mod_2 {

}

.main_header, .main-mod_2 .main_list_item {
    display: grid;
    grid-gap: var(--g-g);
    grid-template-columns:
            calc( 100% / 6 )
            calc( 4 * 100% / 6 )
            calc( 100% / 6 );
}

.main_email {
    overflow: auto;
    height: calc(
            var(--cells-h) * 8 +
            var(--g-g) * 7
    );
}

.main_email_li {
    text-indent: var(--t-i);
    color: var(--c-f-2);
}

.main_textarea {
    resize: none;
    height: calc(
            var(--cells-h) * 3 +
            var(--g-g) * 2
    );
    text-indent: var(--t-i);
    padding-top: var(--t-i);
    color: var(--c-f-2);
}

.main_redactor {
    grid-template-columns:
        minmax(20px, 1fr)
        minmax(20px, 1fr)
        minmax(20px, 1fr) ;
    grid-template-areas:
            "top-left top-center top-right"
            "center center right"
            "bottom bottom right";
}

.main_redactor > * {
    display: grid;
    grid-gap: var(--g-g);
}

.main_top-left {grid-area: top-left }
.main_top-center {grid-area: top-center }
.main_top-right {grid-area: top-right }
.main_center {grid-area: center }
.main_right {grid-area: right }
.main_bottom {grid-area: bottom }

.main_top-left {
    display: grid;
    grid-template-columns:
            minmax(20px, 1fr)
            minmax(20px, 1fr);
    grid-template-areas:
            "mtl-input mtl-label"
            "mtl-textarea mtl-textarea"
            "mtl-textarea mtl-textarea";
}

.main_top-left_input {grid-area: mtl-input}
.main_top-left_label {grid-area: mtl-label}
.main_top-left_textarea {grid-area: mtl-textarea}

.main_top-left_label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: var(--c-f-2);
    font-size: var(--f-n);
}

.main_top-left_check {
    width: 20px;
}

.main_top-left_textarea {
    min-height: calc(
            var(--cells-h) * 2 +
            var(--g-g)
    );
    text-indent: var(--t-i);
    padding-top: var(--t-i);
    font-size: var(--f-n);
    color: var(--c-f-2);
}

.main_top-center {
    grid-template-columns:
            minmax(20px, 1fr)
            minmax(20px, 1fr);
}

.main_top-right {
    grid-template-columns:
            minmax(20px, 1fr)
            minmax(20px, 1fr)
            minmax(20px, 1fr)
            minmax(20px, 1fr);
    grid-template-areas:
        "mtr-p_1 mtr-p_1 mtr-p_1 mtr-img"
        "mtr-p_2 mtr-p_2 mtr-p_2 mtr-img"
        "mtr-input mtr-input mtr-input mtr-input";
}

.main_top-right_p_1 {grid-area: mtr-p_1}
.main_top-right_p_2 {grid-area: mtr-p_2}
.main_top-right_img {grid-area: mtr-img}
.main_top-right_input {grid-area: mtr-input}

.main_top-right p {
    width: auto;
    background: none;
}

.main_top-right_img {
    margin: auto;
}

.main_right {
    grid-template-areas:
        "mr-p_1 mr-p_1"
        "mr-img mr-img"
        "mr-img mr-img"
        "mr-img mr-img"
        "mr-p_2 mr-p_2"
        "mr-b_1 mr-b_2"
        "mr-p_3 mr-p_3"
        "mr-b_3 mr-b_4";
    grid-template-columns:
        minmax(20px, 1fr)
        minmax(20px, 1fr);
}

.main_right_p_1 {grid-area: mr-p_1}
.main_right_img {grid-area: mr-img}
.main_right_p_2 {grid-area: mr-p_2}
.main_right_button_1 {grid-area: mr-b_1}
.main_right_button_2 {grid-area: mr-b_2}
.main_right_p_3 {grid-area: mr-p_3}
.main_right_button_3 {grid-area: mr-b_3}
.main_right_button_4 {grid-area: mr-b_4}

.main_right_img {
    margin: auto;
}

.main_right p {
    background: none;
    width: auto;
    line-height: 200%;
}

/*footer*/

.footer {
    display: grid;
    grid-gap: var(--g-g);
}

.footer_top {
    display: grid;
    align-items: center;
    height: var(--cells-h);
}

.footer_top_span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--c-f-2);
}

.footer_content {
    height: var(--cells-h);
    display: grid;
    grid-gap: var(--g-g);
    grid-template-columns: 1fr 3fr 2fr;
}

.redactor .footer_content {
    grid-template-columns: 1fr 1fr 2fr 2fr;
}
